.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  justify-content: end;
  justify-items: end;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
  border-left: 1px solid var(--decor-element-color);
  border-bottom: 1px solid var(--decor-element-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  border-top: 1px solid var(--decor-element-color);
  border-right: 1px solid var(--decor-element-color);
}

.decorated-element_text {
  position: absolute;
  top: 0;
  right: 0;
  inset-inline-end: 20px;
  inset-block-start: 10px;
  align-self: start;
  visibility: var(--visibility-rec);
}

.decorated-element_text::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-element_text::before {
  content: "Rec";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
  padding-inline-end: 10px;
  text-transform: uppercase;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.header__theme-menu-button {
  inline-size: 70px;
  padding: 3px 13px;
  background: transparent;
  border: none;
  color: var(--button-color);
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--btn-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--btn-focus-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--btn-active-color);
}

.title {
  font-size: var(--title-size-mobile);
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  line-height: 82.5%;
}

.header_subtitle {
  font-family: var(--main-font);
  line-height: 23.4px;
  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--text-color);
}

.content {
  margin: 40px 10px;
}

.main_section:not(.main_pictures) {
  margin-block-end: 50px;
}

.main_section  {
  display: grid;
  gap: 20px;
} 

.main_link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.main_link:hover {
  border-bottom: 1px solid var(--link-hover-color);
}

.main_link:focus {
  outline: none;
}

.main_link:focus-visible {
  outline: 1px solid var(--link-focus-color);
}


.main_title {
  color: var(--accent-text-color);
  font-size: 18px;
  line-height: 23.4px;
}

.main_subtitle {
  background-color: var(--accent-color);
  color: var(--text-color);
  line-height: 23.4px;
  font-weight: 700;
  font-size: 18px;
}

.section_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main_container-advice .section_wrap .main_subtitle {
  font-weight: 400;
}

.main_container-advice .section_wrap .main_subtitle-special {
  font-weight: 700;
}

.main_container-gallery {
  grid-template-columns: 1fr;
  justify-content: center;
}

.main_container-gallery {
  display: grid;
  gap: 10px;
}

.main_text {
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.main_article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}  

.main_article:last-of-type {
  padding-block-end: 0px;
  display: flex;  
  gap: 10px;
}

.main_img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  justify-items: end;
  align-content: center;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 667px;
}

.footer .title {
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (width <=375px) {
  .header {
    padding: 10px;
  }

  .main_title {
    left: 10px;
  }

  .main_pictures {
    gap: 10px;
  } 
}

@media (width < 768px) {

  .content {
    margin: 39px 10px 55px 10px;
  }

  .main_container-gallery  {
    gap: 6px;
  }
  .footer {
    padding: 30px 10px 20px 10px;
  }

}


@media (width >=768px) {

  .header {
    padding: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-element_text {
    inset-inline-end: 30px;
    inset-block-start: 20px;
  }

  .title {
    place-self: start;
    margin-top: 2px;
    font-size: var(--title-size-desktop);
    margin-inline-start: -20px;
  }

  .header_subtitle {
    max-inline-size: 50%;
  }

  .content {
    margin: 60px 20px;
  }

  .main_section:not(.main_pictures) {
    margin-block-end: 80px;
  }

  .main_container-concentrate {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0 20px;
  }

  .main_container-concentrate .main_title {
    grid-row-start: 1;
    grid-row-end: span 4;
  }

  .main_card-container {
    display: grid;
  }

  .main_card-container .main_title {
    max-inline-size: calc((100% - 50px) / 3);
  }

  .main_pictures {
    gap: 20px;
} 

  .main_container-advice {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0 20px;
  }

  .main_container-advice .main_title {
    grid-row-start: 1;
    grid-row-end: span 11;
  }

  .main_container-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr auto 1.60fr;
    gap: 15px;
    contain: inline-size;
  }

  .main_container-gallery .img_sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .main_container-gallery .img_icecream {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .main_container-gallery .img_cassette {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  .main_container-gallery .img_books {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .main_container-gallery .img_street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .footer {
    padding: 20px;
    min-block-size: 1024px;
  }

  .footer .title {
    margin-inline-start: 0;
  }

}

@media (width >=768px) and (max-width: 1023px) {

  .footer  {
    padding-bottom: 18px;
  }

}

@media (width >=1024px) {

  .header {
    grid-template-columns: 1fr;
  }

  .decorated-zone::after {
    place-self: end left;
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-element_text {
    inset-block-start: 20px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .title {
    place-self: start;
  }

  .header .title {
    margin-top: 112px;
  }

  .header {
    padding-bottom: 137px;
    block-size: auto;
    min-block-size: 100vh;
  }

  .footer .title {
    margin-top: 0;
  }

  .header_subtitle {
    margin-top: 116px;
  }

  .content {
    margin: 58px 20px;
  }

  .main_container-concentrate {
    gap: 0 10px;
  }

  .main_card-container {
    display: flex;
    flex-direction: column;
  }

  .main_card-container .section_wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 20px;
  }

  .main_card-container .main_title {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .main_card-container .main_subtitle {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .main_container-advice {
    gap: 0 10px;
  }

  .footer {
    min-block-size: 768px;
    padding-bottom: 10px;
  }

}
